<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("MetaTags", required: false)
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona%20One">
    <link rel="stylesheet" href="~/fonts/icofont/icofont.min.css">
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>
<body>
    <div class="container">
        <main class="flex-container flex-direction-column align-center justify-space-between vh100">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>