@model Warp.WebApp.Pages.Shared._ModalWindowModel
@{
}

<div class="modal-background bg-secondary-transparent flex-container flex-direction-column justify-center align-center">
    <div class="modal-window">
        <div>
            <h1>@Model.Header</h1>
            <p>
                @Model.Prompt
            </p>
        </div>
        <div class="button-bar flex-container">
            <button id="modal-action" class="btn-primary" type="button" tabindex="@Model.TabIndex">@Model.Action</button>
            <button id="modal-cancel" class="btn-tertiary" type="button" tabindex="@Model.CancelTabIndex)">cancel</button>
        </div>
    </div>
</div>
