@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<footer class="mb-5">
    <div id="roaming-image" class="background-image-container d-none">
        <div>
            <img src="~/img/warp.svg" alt="background illustration">
        </div>
    </div>
    <h1 class="logo text-lighter hs-1 mb-1">
        warp
    </h1>
    <p class="hs-2 text-body mt-1">
        <strong>
            @Localizer["snap, share and say goodbye"] <br>
        </strong>
        @Localizer["share the moments instantly, knowing they'll disappear in no time"]
    </p>
    <nav class="text-light fs-5">
        <a asp-page="/Index">
            @Localizer["IndexLink"]
        </a> |
        <a asp-page="/Privacy">
            @Localizer["PrivacyLink"]
        </a> |
        <a href="https://github.com/punk-link/warp" target="_blank">
            @Localizer["SourcesLink"]
        </a>
    </nav>
    <p class="text-light fs-5">
        © synonym.fans 2024 | @Localizer["all rights reserved"]
    </p>
</footer>