@page "/entry/{id}"
@model EntryModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/entry.css" asp-append-version="true" />
}

<partial name="Shared/_Header" />
<section class="warp-container flex-container flex-direction-column vh100">
    <div class="expiration-message-container flex-container flex-direction-row justify-space-between">
        <div>
            @Model.ExpiresIn
        </div>
        <div>
            @Model.ViewCount
        </div>
    </div>
    <div class="gallery flex-container flex-direction-column align-center">
        @foreach (var url in Model.ImageUrls)
        {
            <figure>
                <img src=@url />
            </figure>
        }
    </div>
    <article class="warp-content-container">
        @Html.Raw(Model.TextContent)
    </article>
    <div class="button-bar flex-container justify-flex-end">
        <partial name="Shared/Components/SecondaryButton" model="@Model.CopyButtonModel" />
        <partial name="Shared/Components/SecondaryButton" model="@Model.CopySilentButtonModel" />
        <partial name="Shared/Components/SecondaryButton" model="@Model.ReportButtonModel" />
    </div>
</section>
<partial name="Shared/_Promo" />
<partial name="Shared/_Footer" />
<partial name="Shared/Components/ModalWindow" model="@Model.ModalWindowModel"/>

<script type="module">
    import { addEntryEvents } from '/js/entry.js';

    document.addEventListener('DOMContentLoaded', () => {
        addEntryEvents('@Model.Id');
    });
</script>
