@page "/entry/{id}"
@model EntryModel
@{
    ViewData["Title"] = "Warp";
}

<partial name="Shared/_Header" />
<div class="warp-container flex-container flex-direction-column vh100">
    <div class="expiration-message-container flex-container flex-direction-row justify-space-between">
        <div>
            @Model.ExpiresIn
        </div>
        <div>
            @Model.ViewCount
        </div>
    </div>
    <div class="gallery flex-container flex-direction-column align-center">
        @foreach (var url in Model.ImageUrls)
        {
            <img src=@url/>
        }
    </div>
    <div class="warp-content-container">
        @Html.Raw(Model.TextContent)
    </div>
    <div class="button-bar flex-container justify-flex-end">
        <partial name="Shared/Components/_TertiaryButton" model="@Model.CopyButtonModel" />
        <partial name="Shared/Components/_TertiaryButton" model="@Model.CopySilentButtonModel" />
        <partial name="Shared/Components/_TertiaryButton" model="@Model.ReportButtonModel" />
    </div>
</div>
<partial name="Shared/_Promo" />
<partial name="Shared/_Footer" />
<partial name="Shared/_ModalWindow" model="@Model.ModalWindowModel"/>
<script type="module">
    import { addEntryEvents } from '/js/entry.js';

    document.addEventListener('DOMContentLoaded', () => {
        addEntryEvents('@Model.Id');
    });
</script>
