@page "/entry/{id}"
@model EntryModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
    <partial name="Shared/Components/OpenGraph" model="@Model.OpenGraphModel" />
}

@section Scripts {
    <script type="module" src="~/js/components/modal.js" defer></script>
    <script type="module" defer>
        import { addEntryEvents } from '/js/entry.js';

        document.addEventListener('DOMContentLoaded', () => {
            addEntryEvents('@Model.Id', '@Model.ExpiresIn');
        });
    
    </script>
}

<div class="row align-items-baseline">
    <h1 class="logo">
        <a class="text-primary" asp-area="" asp-page="/Index">warp</a>
    </h1>
</div>

<section class="mb-5">
    <div class="row">
        <div class="row align-items-end">
            <div class="col-6">
                <i class="icofont-eye me-2 text-light"></i>@Model.ViewCount
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="text-right countdown"></div>
                <div class="text-right text-light">the entry expires in</div>
            </div>
        </div>
    </div>
    <article class="warp-content-container mb-5">
        @Html.Raw(Model.TextContent)
    </article>
    <div class="d-flex justify-content-between align-items-center col-12 offset-md-3 col-md-6">
        <div>
            <a class="btn btn-link" data-toggle="modal" data-target="#report-modal" tabindex="1" type="button">
                <i class="icofont-exclamation-tringle text-light"></i>
            </a>
        </div>
        <div>
            <button class="btn btn-light" tabindex="2" >Close</button>
        </div>
        <div>
            <a id="copy-url-button" class="btn btn-link" tabindex="3" type="button">
                <i class="icofont-link text-light"></i>
            </a>
        </div>
    </div>
</section>

<div id="report-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center mb-3 text-danger illustration-icon">
                    <i class="icofont-exclamation-tringle"></i>
                </div>
                <div class="offset-1 col-10 offset-md-3 col-md-6">
                    <p>
                        You are about to report this content. Use the feature in case of inappropriate content only. 
                        This action restricts access to the content for all viewers. Are you sure?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal" tabindex="5" type="button">Cancel</button>
                <button id="report-button" class="btn btn-primary" tabindex="4" type="button">Report</button>
            </div>
        </div>
    </div>
</div>