@page "/entry/{id:Guid}"
@model EntryModel
@{
    ViewData["Title"] = "Warp";
}

<partial name="Shared/_Header" />
<div class="warp-container flex-container flex-direction-column vh100">
    <div class="expiration-message-container flex-container flex-direction-row justify-space-between">
        <div>
            @Model.ExpiresIn
        </div>
        <div>
            @Model.ViewCount
        </div>
    </div>
    <div class="gallery flex-container flex-direction-column align-center">
        @foreach (var url in Model.ImageUrls)
        {
            <img src=@url/>
        }
    </div>
    <div class="warp-content-container">
        @Html.Raw(Model.TextContent)
    </div>
    <div class="button-bar flex-container flex-direction-row justify-flex-end">
        <button id="copy-url-button" class="btn-tertiary" type="button">
            <div>
                <i class="icofont-copy"></i>
                copy link
            </div>
        </button>
        <button id="report-button" class="btn-tertiary" type="button">report</button>
    </div>
</div>
<partial name="Shared/_Promo" />
<partial name="Shared/_Footer" />
<partial name="Shared/_ModalWindow" model="@Model.ModalWindowModel"/>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let copyButton = document.getElementById('copy-url-button');
        copyButton.onclick = () => copyUrl();

        let modalAction = document.getElementById('modal-action');
        modalAction.onclick = () => report('@Model.Id');

        let reportButton = document.getElementById('report-button');
        reportButton.onclick = (e) => showModal(e);
    });
</script>
