@page "/entry/{id}"
@model EntryModel
@{
    ViewData["Title"] = "Warp. Share the moments instantly, knowing they'll disappear in no time.";
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
    <partial name="Shared/Components/OpenGraph" model="@Model.OpenGraphModel" />
}

<div class="row align-items-baseline">
    <div class="col-12">
        <partial name="Shared/Components/Logo" />
    </div>
</div>

<section>
    <div class="row">
        <div class="row align-items-end">
            <div class="col-6">
                <i class="icofont-eye me-2 text-light"></i>@Model.ViewCount
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="text-right countdown"></div>
                <div class="text-right text-light">the entry expires in</div>
            </div>
        </div>
        <article class="warp-content-container">
            @Html.Raw(Model.TextContent)
        </article>
    </div>
</section>

<script type="module">
    import { addEntryEvents } from '/js/entry.js';

    document.addEventListener('DOMContentLoaded', () => {
        addEntryEvents('@Model.Id', '@Model.ExpiresIn');
    });
</script>
