@page "/error"
@model ErrorModel
@{
    ViewData["Title"] = $"Warp. {Model.Title}";
    Layout = "_LayoutDark";
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
}

<div class="row align-items-baseline">
    <div class="col-12 text-secondary">
        <h1 class="logo">
            <a class="text-lighter" asp-area="" asp-page="/Index">warp</a>
        </h1>
    </div>
</div>

<section class="mb-5">
    <div class="error-code text-lighter">
        @Model.Status
    </div>
    <div class="error-message text-body">
        <p class="text-lighter mb-5">@Model.Detail</p>
        <div class="request-id">
        @if (Model.ShowRequestId)
        {
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        }
        </div>
        <div class="error-list">
        @if (Model.ShowErrors)
        {
            <h3 class="mb-3">Errors:</h3>
            @foreach(var error in Model.Errors)
            {
                <p class="mb-2">
                    <strong>@error.Code.</strong> @error.Message
                </p>
            }
        }
        </div>
    </div>
</section>
