@page
@model ErrorModel
@{
    ViewData["Title"] = $"Error {Model.Status}";
}

<h1 class="text-danger">@Model.Title.</h1>
<h2 class="text-danger">@Model.Detail.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.ShowErrors)
{
    <h3>Errors</h3>
    <p>
        @foreach(var error in Model.Errors)
        {
            <p>
                <strong>@error.Code:</strong> @error.Message
            </p>
        }
    </p>
}
