@page "/error"
@model ErrorModel
@{
    ViewData["Title"] = $"Warp. {Model.Title}";
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive" />
}

<div class="grid-v-container grid-v-3 vh100">
    <div class="grid-v-col-1">
        <partial name="Shared/_EmptyLeftGridColumn" />
    </div>
    <section class="grid-v-col-2 secondary-grey-column">
        <partial name="Shared/_Logo" />
        <div class="error-code-container">
            @Model.Status
        </div>
        <div class="error-message-container">
            <p>@Model.Detail</p>
            <div class="request-id">
                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
            </div>
            <div class="error-list">
                @if (Model.ShowErrors)
                {
                    <h3>Errors:</h3>
                    <p>
                        @foreach(var error in Model.Errors)
                        {
                            <p>
                                <strong>@error.Code.</strong> @error.Message
                            </p>
                        }
                    </p>
                }
            </div>
        </div>
    </section>
    <div class="grid-v-col-3"></div>
</div>
<partial name="Shared/_Footer" />
