@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using Warp.WebApp.Models.Entries.Enums
@model IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

@section Analytics {
    <partial name="Shared/Components/Analytics" model="@Model.AnalyticsModel" />
}

@section MetaTags {
    <meta name="description" content="@Localizer["MetaDescription"]">
    <meta name="robots" content="all">
    <partial name="Shared/Components/OpenGraph" model="@Model.OpenGraphModel" />
}

@section Scripts {
    <script type="module" defer>
        import { addIndexEvents, adjustTextareaSizes } from '/js/index.js';

        const initEditMode = @((int)Model.EditMode);

        document.addEventListener('DOMContentLoaded', () => {
            addIndexEvents('@Model.Id', initEditMode);
        });

        window.addEventListener('load', () => {
            adjustTextareaSizes(initEditMode);
        });
    </script>
}

<div class="min-h-screen">
    <div class="flex flex-col sm:flex-row items-baseline px-3">
        <div class="w-full sm:w-1/2">
            <h1 class="logo">
                <a class="text-primary" asp-page="/Index">
                    @SharedLocalizer["Logo"]
                </a>
            </h1>
        </div>
        <div class="w-full sm:w-1/2 flex justify-end">
            <button id="mode-text" class="nav nav-tab">
                @Localizer["TextModeButton"]
            </button>
            <button id="mode-advanced" class="nav nav-tab">
                @Localizer["AdvancedModeButton"]
            </button>
        </div>
    </div>

    <section class="px-3 my-5">
        <div id="text-mode">
            <form method="post">
                <div class="flex flex-col items-center justify-around min-h-[75vh]">
                    <div class="w-full md:w-1/2 mb-5">
                        <div class="flex flex-col">
                            <textarea id="warp-text" class="order-2 bg-transparent" asp-for="TextContent" placeholder=" "></textarea>
                            <label class="order-1 pl-0" for="warp-text">@Localizer["TextAreaLabel"]</label>
                        </div>
                    </div>
                    <div class="flex justify-between w-full md:w-1/2 pb-3 sticky bottom-0 bg-transparent">
                        <div class="bg-white rounded-sm">
                            <label asp-for="SelectedExpirationPeriod">@Localizer["ExpirationPeriodLabel"]</label>
                            <div class="flex items-baseline">
                                <i class="icofont-close text-primary text-2xl"></i>
                                <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions" tabindex="4" class="ml-2"></select>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary create-button" tabindex="5" type="submit" disabled>
                                @Localizer["CreateButton"]
                            </button>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input class="edit-mode-state" type="hidden" asp-for="EditMode" value="@EditMode.Text" />
                </div>
            </form>
        </div>
        <div id="advanced-mode">
            <form method="post">
                <div class="flex flex-col items-center justify-around min-h-[75vh]">
                    <div class="w-full p-2 md:w-1/2 mb-5">
                        <div class="flex flex-col">
                            <div class="flex flex-col mb-5">
                                <i class="icofont-align-left text-secondary text-2xl mb-2"></i>
                                <label class="pl-0" for="warp-advanced">@Localizer["TextAreaLabel"]</label>
                                <textarea id="warp-advanced" class="bg-transparent" asp-for="TextContent" placeholder=" "></textarea>
                            </div>
                            <div class="flex flex-col mb-5">
                                <i class="icofont-hill-sunny text-secondary text-2xl mb-2"></i>
                                <label class="pl-0 mb-3">@Localizer["ImageAreaLabel"]</label>
                                <div class="flex flex-row flex-wrap upload-gallery">
                                    @foreach (var imageContainer in Model.ImageContainers)
                                    {
                                        <partial name="Shared/Components/EditableImageContainer" model="imageContainer" />
                                    }
                                </div>
                                <input type="file" id="file" class="file-input hidden" multiple="multiple" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between w-full md:w-1/2 pb-3 sticky bottom-0 bg-transparent">
                        <div class="bg-white rounded-sm">
                            <label asp-for="SelectedExpirationPeriod">@Localizer["ExpirationPeriodLabel"]</label>
                            <div class="flex items-baseline">
                                <i class="icofont-close text-primary text-2xl"></i>
                                <select asp-for="SelectedExpirationPeriod" asp-items="Model.ExpirationPeriodOptions" tabindex="4" class="ml-2"></select>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary create-button" tabindex="5" type="submit" disabled>
                                @Localizer["CreateButton"]
                            </button>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input class="edit-mode-state" type="hidden" asp-for="EditMode" value="@EditMode.Advanced" />
                </div>
            </form>
        </div>
    </section>
</div>

<partial name="Shared/Footer" />
