@page "/preview/{id}"
@using Microsoft.Extensions.Localization
@model Warp.WebApp.Pages.PreviewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Title"];
}

@section MetaTags {
    <meta name="robots" content="noindex, noarchive">
}

@section Scripts {
    <script type="module" src="~/js/components/modal.js" defer></script>
    <script type="module" defer>
        import { addPreviewEvents } from '/js/features/preview/index.js';

        document.addEventListener('DOMContentLoaded', () => {
            addPreviewEvents('@Model.Id', '@Model.ExpiresIn');
        });
    </script>
}

<div class="min-h-screen">
    <div class="flex flex-col sm:flex-row items-baseline px-3">
        <div class="w-full sm:w-1/2 flex justify-start md:justify-center">
            <partial name="Shared/Logo" />
        </div>
        <div class="service-message-container w-full sm:w-1/2 flex justify-end md:justify-center">
            <span id="entry-created-message" class="text-secondary font-semibold text-base">
                @Localizer["entry successfully created"]
            </span>
            <span id="link-copied-message" class="text-secondary font-semibold text-base hidden">
                @Localizer["the link was copied successfully"]
            </span>
        </div>
    </div>

    <section class="px-3 my-5">
        <div class="flex flex-col items-center justify-around min-h-[75vh]">
            <!-- Countdown -->
            <div class="w-full md:w-1/2 flex justify-end mb-5">
                <div class="text-right">
                    <div class="countdown text-gray-700 text-3xl font-sans-serif font-semibold">&nbsp;</div>
                    <div class="text-gray-400 text-xs">
                        @Localizer["the entry expires in"]
                    </div>
                </div>
            </div>

            <!-- Content -->
            <article class="w-full md:w-1/2 bg-yellow-50 p-3 rounded-sm mb-10">
                @if (Model.ImageContainers.Count > 0)
                {
                    <div class="gallery mb-5">
                        @foreach (var imageContainer in Model.ImageContainers)
                        {
                            <partial name="Shared/Components/ReadOnlyImageContainer" model="imageContainer" />
                        }
                    </div>
                }
                <div class="font-sans-serif text-base">
                    @Html.Raw(Model.TextContent)
                </div>
            </article>

            <!-- Action Buttons -->
            <div class="flex justify-between items-center w-full md:w-1/2 pb-3 sticky bottom-0 bg-transparent">
                <div class="bg-white rounded-sm">
                    <button id="delete-button" class="btn btn-outline-gray" title="@SharedLocalizer["DeleteButton"]">
                        <i class="icofont-bin text-xl"></i>
                    </button>
                </div>
                <div class="bg-white rounded-sm">
                    <button id="edit-button" class="btn btn-outline-gray hidden" title="@Localizer["CloneAndEditButton"]">
                        <i class="icofont-loop text-xl"></i>
                    </button>
                </div>
                <div class="bg-white rounded-sm">
                    <button id="copy-link-button" class="btn btn-primary" title="@SharedLocalizer["CopyLinkButton"]">
                        <i class="icofont-link text-white/50"></i>
                        @SharedLocalizer["CopyLinkButton"]
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

<partial name="Shared/Footer" />